@import "./components/reset";

$main-font-family: "Montserrat", sans-serif;
$title-font-family: "Cutive Mono", monospace;
$title-span-color: #f0711c;
$main-color: #223457;
$title-name-color: rgb(47, 46, 116);

// =============
// Main Styles
// =============
body {
  font-family: $main-font-family;
  background-color: #f4f3ea;
  color: $main-color;
}

.container {
  min-width: 30%;
  width: 85vw;
  margin: 5rem auto;
  text-align: center;
}

.center-slider {
  margin: 3.5rem auto;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 65vw;
  height: 30rem;
  overflow: hidden;
}
// =======
// Title
// =======

.title {
  font-size: 3vw;
  font-family: $title-font-family;
  span {
    color: $title-span-color;
  }
}

article {
  transition: opacity 1.5s, transform 0.6s;
  margin: 0.1rem;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  width: 65vw;
  height: 100%;
  opacity: 0;
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    color: $title-name-color;
    font-size: 1.3rem;
  }
}

article.nextSlide {
  transform: translateX(100%);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

.person-img {
  object-fit: cover;
  width: 12vw;
  height: 12vw;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 50%;
  border: 1px $title-span-color solid;
  -webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
}

.job-title {
  text-transform: uppercase;
  background-color: #bccbeb;
  color: rgb(127, 126, 236);
  font-weight: 800;
  padding: 0.2rem;
}

.icon {
  font-size: 3rem;
  color: $title-span-color;
}

.prev,
.next {
  top: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 2rem;
  background-color: rgb(116, 114, 161);
  width: 2rem;
  height: 2rem;
  color: #e0e3e9;
}

.prev {
  left: 4%;
}

.next {
  right: 4%;
}

.prev:hover,
.next:hover {
  background-color: $title-span-color;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 5vw;
  }

  article {
    h4 {
      font-size: 0.8rem;
    }
  }
}
